[data-v-6be23819] .table-component .td-0 {
  width: 80% !important;
}
[data-v-6be23819] .table-component .td-1 {
  width: 20% !important;
}
[data-v-6be23819] .title-container {
  pointer-events: none;
}
.bilateral-utilize-block[data-v-6be23819] {
  cursor: pointer;
  margin: 0.5208rem 0 0 !important;
}
.tooltip-content[data-v-6be23819] {
  font-size: 0.7292rem;
}
.up-station-color[data-v-6be23819] {
  background: linear-gradient(90deg, #61ccf480, #61ccf4);
}
.down-station-color[data-v-6be23819] {
  background: linear-gradient(90deg, #ffc10080, #ffc100);
}
.bilateral-utilize-table[data-v-6be23819] {
  color: #031114;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 0.8333rem;
  margin: 0 0.8333rem 0.8333rem;
  overflow: auto;
}
.bilateral-utilize-table .legend[data-v-6be23819],
.bilateral-utilize-table .legend-item[data-v-6be23819] {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}
.bilateral-utilize-table .legend[data-v-6be23819] {
  margin: 0.7813rem 0;
}
.bilateral-utilize-table .legend .legend-item[data-v-6be23819] {
  margin-left: 2.0833rem;
}
.bilateral-utilize-table .legend .legend-item .icon[data-v-6be23819] {
  border-radius: 50%;
  height: 0.8333rem;
  margin-right: 0.7813rem;
  width: 0.8333rem;
}
.bilateral-utilize-table .table-content[data-v-6be23819] {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 0.8333rem;
  overflow: auto;
  padding: 0 0.8333rem;
}
.bilateral-utilize-table .table-content .table-item[data-v-6be23819] {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 1.35rem;
}
.bilateral-utilize-table
  .table-content
  .table-item
  .station-name[data-v-6be23819] {
  margin-right: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 30%;
}
.bilateral-utilize-table
  .table-content
  .table-item
  .progress-box[data-v-6be23819] {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.bilateral-utilize-table
  .table-content
  .table-item
  .progress-box
  .progress-bar[data-v-6be23819] {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.bilateral-utilize-table
  .table-content
  .table-item
  .progress-box
  .progress-bar
  .progress-item[data-v-6be23819] {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  font-size: 0.625rem;
  justify-content: space-between;
}
.bilateral-utilize-table
  .table-content
  .table-item
  .progress-box
  .progress-bar
  .progress-item[data-v-6be23819]:not(:last-child) {
  margin-bottom: 0.1042rem;
}
.bilateral-utilize-table
  .table-content
  .table-item
  .progress-box
  .progress-bar
  .item-bars[data-v-6be23819] {
  align-items: center;
  border-radius: 0 0.5208rem 0.5208rem 0;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  font-size: 0.7292rem;
  height: 0.3646rem;
  justify-content: flex-end;
}
.bilateral-utilize-table
  .table-content
  .table-item
  .progress-box
  .progress-info[data-v-6be23819] {
  font-size: 0.625rem;
}
