.center-data[data-v-bea2a887] {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.center-data .item[data-v-bea2a887] {
  background: linear-gradient(0deg, #ade2ff, #fff);
  border-radius: 0.2083rem;
  margin-bottom: 0.8333rem;
  padding: 0.7813rem;
}
.center-data .item .title-unit[data-v-bea2a887] {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.center-data .item .title-unit .title[data-v-bea2a887] {
  color: #031114;
  font-size: 0.7292rem;
}
.center-data .item .title-unit .unit[data-v-bea2a887] {
  color: #031114;
  font-size: 0.5208rem;
}
.center-data .item .num[data-v-bea2a887] {
  align-items: baseline;
  color: #3a6cff;
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.75rem;
  font-weight: 700;
  justify-content: space-between;
  overflow: hidden;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.center-data .item .num .animation-font[data-v-bea2a887] {
  flex: 1;
}
.center-data .item .num .r-b-text[data-v-bea2a887] {
  font-size: 0.7292rem;
  font-weight: 400;
  margin-left: 0.2604rem;
}
.center-data .item .rate[data-v-bea2a887] {
  align-items: baseline;
  color: #031114;
  display: flex;
  flex-wrap: nowrap;
  font-size: 0.7292rem;
  justify-content: space-between;
}
.center-data .item .rate span[data-v-bea2a887]:first-child {
  margin-left: 0.8333rem;
}
.center-data .item .rate[data-v-bea2a887]:not(:last-child) {
  margin-top: 0.4167rem;
}
.center-data .item .rate .rate-title[data-v-bea2a887] {
  width: fit-content;
}
.center-data .item .green-down[data-v-bea2a887] {
  color: #20b881;
}
.center-data .item .red-down[data-v-bea2a887] {
  color: #eb686a;
}
.center-data .item-3[data-v-bea2a887] {
  width: calc(33.33333% - 0.415rem);
}
.center-data .item-3[data-v-bea2a887]:not(:nth-child(3n)) {
  margin-right: 0.6225rem;
}
.center-data .item-4[data-v-bea2a887] {
  width: calc(25% - 0.4669rem);
}
.center-data .item-4[data-v-bea2a887]:not(:nth-child(4n)) {
  margin-right: 0.6225rem;
}
.center-data .item-5[data-v-bea2a887] {
  width: calc(20% - 0.498rem);
}
.center-data .item-5[data-v-bea2a887]:not(:nth-child(5n)) {
  margin-right: 0.6225rem;
}
