.empty-container[data-v-36adeea1] {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.empty-container img[data-v-36adeea1] {
  height: 3rem;
  width: 5rem;
}
.empty-container span[data-v-36adeea1] {
  color: #7e92bc;
  font-size: 0.8rem;
  margin-top: 0.7rem;
}
