[data-v-ff705ebb] .el-tab-pane,
[data-v-ff705ebb] .el-tab-pane .three-box {
  height: 100%;
}
.three-tabs[data-v-ff705ebb] {
  background-color: #fff;
  height: calc(100% - 30px);
  margin: 15px;
  padding: 0 15px;
}
