.order-container[data-v-3f0ddf28] {
  color: #031114;
  display: flex;
  flex-direction: column;
}
.chart-block[data-v-3f0ddf28] {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 0.8333rem 0.8333rem;
  padding: 0.8333rem;
}
.chart-block .unit[data-v-3f0ddf28] {
  font-size: 0.625rem;
  margin-bottom: 0.2604rem;
}
.chart-block .content[data-v-3f0ddf28] {
  flex: 1;
}
