.table-component[data-v-0228c708] {
  display: flex;
  flex-direction: column;
}
.table-component ul[data-v-0228c708] {
  display: flex;
  flex-wrap: nowrap;
}
.table-component ul li[data-v-0228c708] {
  font-size: 0.7292rem;
  overflow: hidden;
  padding: 0.4167rem 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table-component .table-head[data-v-0228c708] {
  background: linear-gradient(270deg, #24e1f71a, #583fef1a 70%);
  color: #3a6cff;
  font-size: 0.8333rem;
  padding: 0 0.8333rem;
}
.table-component .scroll-table-box[data-v-0228c708] {
  flex: 1;
  overflow: hidden;
}
.table-component .table-body[data-v-0228c708] {
  color: #031114;
  flex: 1;
  overflow: auto;
  padding: 0 0.8333rem;
}
.table-component .table-body .td-0[data-v-0228c708] {
  font-size: 0.8333rem;
}
.table-component .table-body .td-3[data-v-0228c708] {
  color: #20b881;
}
